body{
    overflow: hidden;
    margin: 0px;
}
.container{
    
}
.topSectionLayout{
    max-width: xl;
    padding-top: 20px;
    overflow: auto;
    padding: 0px;
}
.FAQSectionLayout{
    max-width: xl;
    padding-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding: 0px;
}
a{
    text-decoration: none;
    color: inherit; 
}
.accordionSummary:hover {
    background-color: #E3F2FD;
  }
.BackgroundImageStyle {
   
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

  